<!DOCTYPE html>
<html>
  <head>
    <title>Mon Header</title>
    <style>
      body {
        background-color: #f5f5f7;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      header {
        background-color: #ffde79;
        display: flex;
        align-items: center;
        width: 100%;
      }
      
      header h1 {
        margin: auto;
        color: #000;
        font-feature-settings: 'dlig' on;
        font-family: Space Grotesk;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px;
      }
    </style>
  </head>
  <body>
    <header>
      <img height="50px" style="display:block" title="Logo" width="50px " src="https://maquequettefile.s3.eu-west-3.amazonaws.com/logo-app.png" alt="icon maquequettefile" />
      <h1>Mac&Kate</h1>
    </header>
    <div style="text-align: center;">
      
      <h1>{{content}}</h1>
    </div>
  </body>
</html>
